<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6433167016806722), rgba(0,0,0,0.6433167016806722)), url(https://images.unsplash.com/photo-1586899028174-e7098604235b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80)">
  <h1>Welcome to your watch list</h1>
</div>

    <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <img class="card-img-top" src="https://images.unsplash.com/photo-1560169897-fc0cdbdfa4d5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1772&q=80" alt="Card image cap">
        <h5 class="card-title"><%= list.name %></h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <%= link_to "View the content", list_path(list)  %>
        </div>
    <% end %>
  <% end %>
</div>

</div>
<%= link_to "Add a new list",  new_list_path  %>
